include setup.py
include sitecustomize.py
include ccPublisher.sh
include resources/*
recursive-include resources/locale/*/LC_MESSAGES *.mo
exclude resources/p6settings
exclude resources/*~
exclude p6.settings
recursive-include ccpublisher *.zcml
recursive-include p6 *.zcml
include deploy/linux/*.in
